.settings
target
.classpath
.project
.factorypath
classes
.springBeans
*.db
node
npm-debug.log
bower_components
node_modules
.DS_Store

javaclient

## Intellij IDEA ##
.idea/
out/
*.iml
